@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: #fff;
    color: #171717;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  :focus-visible {
    outline: none;
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px var(--accent-green);
  }
}
